*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/kotlin-js-store
/sample/build/
/sample/shared/build/
/sample/androidApp/build/
/sample/kotlin-js-store

*.pbxuser
xcuserdata/
Pods/
