*.iml
.gradle
/local.properties
.idea
.kotlin
.DS_Store
build
build/
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/kotlin-js-store
/sample/build/
/sample/iosApp/build/
/sample/shared/build/
/sample/androidApp/build/
/sample/kotlin-js-store

*.pbxuser
xcuserdata/
Pods/
